@charset "UTF-8";
body {
/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;*/
}
<meta name="viewport" content="width=device-width, initial-scale=1" />
	<background-image: url("images/bottleBlack.svg")>
.hidden
{
  visibility: hidden !important;
  display: none;
}
/*INDEX START*/
/*MOBILE START*/
@media only screen and (max-width:640px) {
  .header {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo
  {
    height: auto;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    /*margin-top: -20px;
    margin-bottom: 10px;*/
  }
  .logo img
  {
    margin-bottom: 0px;
    width: 150px;
  }
.mainNav {
  height: 150px;
  margin-top: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 2
  0px;
  }
  .nav {
    background-color: #DFE2E6;
    border: solid 1px #7c7d80;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mainCon {
  margin-top: 0px;
  width: auto;
  min-height: 750px;
}
.advert {
  margin-top: 15%;
  background-color: #213780;
  color: white;
}
.storyAd {
  background-color: #3253BF;
  color: white;
	text-align: center;
}
.footHeader {
  display: flex;
  flex-direction: row;
}
.background {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
}
.mainBG {
	margin-top: 40px;
}
.conLink {
	text-align: center;
}
}
/*MOBILE END*/
/*TABLET(?) START*/
@media only screen and (min-width:641px) and (max-width:1920px) {
  .header {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .logo
  {
    height: auto;
    min-height: 154px;
    min-width: 300px;
    max-width: 50%;
    display: flex;
    justify-content: flex-start;


  }
  .mainNav {
  margin-bottom:0px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;

  }
  .nav {
    background-color: #DFE2E6;
    border: solid 1px #7c7d80;
    height: 20px;
    display: flex;
    /*flex-direction: column;*/
    margin-bottom: 0px;
    justify-content: flex-end;
    padding-left: 7px;
    padding-right: 7px;
  }
  .mainCon {
    width: auto;
    min-height: 900px;
  }
  .advert {
    margin-top: 25%;
    background-color: #213780;
    color: white;
		text-align: center;
  }
  .background {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
  }
  .footHeader {
    height: 154px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .botNav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .advert {
    width: auto;
    height: 100px;
    background-color: 213780;
    color: white;
  }
	.storyAd {
	  background-color: #3253BF;
	  color: white;
		text-align: center;
	}
	.mainBG {
		margin-top: 40px;
	}
	.conLink {
		text-align: center;
		color: white;
	}
}
/*MONITOR END*/
/*INDEX END*/
/*HISTORY START*/
@media only screen and (max-width:640px) {
  .historyIntro h2 {

  }
  .pageBox
  {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(images/bottleBlack.svg);
  }
  .contentL
  {
    width: 33%;
    width: 30%;
    text-align: center;
    margin-left: 0px;
  }
  .history
  {
    border: solid 1px black;
    margin-top: 50px;
    margin-bottom: 50px;

  }
  .brewery
  {
    background-color: #488CBC;
  }
  .railroad
  {
    margin-top: 15px;
    background-color: #295A95;
  }
  .export
  {
    margin-top: 15px;
    background-color: #488CBC;
  }
  .clock
  {
    margin-top: 15px;
    background-color: #295A95;
  }
  .contentM
  {
    width: auto;
  }
  #BGBot
  {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contentM img
  {
    width: 600px;
    display: flex;
    justify-content: flex-start;
  }
  .hexJump
  {
    width:150px;
    height: 150px;
    /*background-image: url(images/molsonHex.png);*/
    /*background-color: #013559;*/
    position: relative;
    animation-name: hexJump;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-play-state: running;

  }
  .hexJump img
  {
    width: 150px;
    height: 150px;
    justify-content: space-between;
  }
  @keyframes hexJump {
    0% {top: 0px;}
    /*50% {top: 50%;}*/
    100% {top: 600px;}
  }
  .contentR
  {
    width: 33%;
    text-align: center;
    display: block;
    float: right;
    margin-right: 0px;
  }
  .bank
  {
    margin-top: 15px;
    background-color: #488CBC;
  }
  .hospital
  {
    background-color: #295A95;
  }
  .return
  {
    background-color: #295A95;
    margin-top: 15px;
  }
  .canadian
  {
    margin-top: 15px;
    background-color: #488CBC;
  }
}
@media only screen and (min-width:641px) and (max-width:1920px) {
  .pageBox
  {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(images/bottleBlack.svg);
  }
  .contentL
  {
    width: 33%;
    width: 30%;
    text-align: center;
    margin-left: 0px;
  }
  .history
  {
    border: solid 1px black;

  }
  .brewery
  {
    background-color: #488CBC;
  }
  .railroad
  {
    margin-top: 15px;
    background-color: #295A95;
  }
  .export
  {
    margin-top: 15px;
    background-color: #488CBC;
  }
  .clock
  {
    margin-top: 15px;
    background-color: #295A95;
  }
  .contentM
  {
  }
  #BGBot
  {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contentM img
  {
    width: 600px;
    display: flex;
    justify-content: center;
  }
  .hexJump
  {
    width:150px;
    height: 150px;
    /*background-image: url(images/molsonHex.png);*/
    /*background-color: #013559;*/
    position: relative;
    animation-name: hexJump;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-play-state: running;
  }
  .hexJump img
  {
    width: 150px;
    height: 150px;
  }
  @keyframes hexJump {
    0% {top: 0px;}
    /*50% {top: 50%;}*/
    100% {top: 600px;}
  }
  .contentR
  {
    width: 33%;
    text-align: center;
    display: block;
    float: right;
    margin-right: 0px;
  }
  .bank
  {
    margin-top: 15px;
    background-color: #488CBC;
  }
  .hospital
  {
    background-color: #295A95;
  }
  .return
  {
    background-color: #295A95;
    margin-top: 15px;
  }
  .canadian
  {
    margin-top: 15px;
    background-color: #488CBC;
  }

}
/*HISTORY END*/
/*INFO START*/
.tabs {
  border-radius: 1px solid #cccccc;
  display: flex;
}

.tabs__sidebar {
  width: 125px;
  flex-shrink: 0;
  background: #cccccc;
}

.tabs__button {
  display: block;
  padding: 10px;
  background: #eeeeee;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tabs--button:active {
  background: #dddddd;
}

.tabs__button:not(:last-of-type) {
  border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
  font-weight: bold;
  border-right: 4px solid #2B5B96;
  background: #dddddd;
}

.tabs__content {
padding: 15px;
font-size: 1.2rem;
display: none;
}

.tabs__content--active {
  display: flex;
  flex-direction: row;
}

.tabs__content > first-child {
  margin-top: 0;
}



.bio {
  display: block;
  margin-left: 20px;
}

@media only screen and (max-width:640px) {
.box
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.beerPic img
{
  width: 600px;

}
.right
{
  width: 50%


}
.brandBlurb
{
}
.topBot img
{
  width: 900px;
}
}
@media only screen and (min-width:641px) and (max-width:1920px) {
.box
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.beerPic img
{
  width: 600px;

}
.right
{
  width: 50%


}
.brandBlurb
{
}
.topBot img
{
  width: 900px;
}
}
/*INFO END*/
/* COLLECTION START*/
.molson {
  /*width: 16%;*/
  width:200px;
  height: 200px;
  /*border: solid 2px black;*/
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.molson img {
  margin-bottom: 5px;
}

.molson h2{
}

.grid {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:  250px 250px;
  grid-row: 900px 900px 900px;
	/* could use auto to take a column fluid */
	/*creating gutters essential */
	grid-gap: 200px 20px ;
  margin-bottom: 80px;
}


@media only screen and (min-width:641px) and (max-width:1020px) {
  .grid {
  	width: 1200px;
  	margin: 0 auto;
  	display: grid;
  	grid-template-columns:  350px 350px;
    grid-row: 900px 900px 900px;
  	/* could use auto to take a column fluid */
  	/*creating gutters essential */
  	grid-gap: 200px 20px ;
    margin-bottom: 80px;
  }
}


@media only screen and (min-width:1021px) and (max-width:1920px){
.grid {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 400px 400px 400px;
  grid-row: 400px 400px;
	/* could use auto to take a column fluid */
	/*creating gutters essential */
	grid-gap: 20px;
}
}
.box {
  display: flex;
  flex-direction: row;
}

.description {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}
/* COLLECTION END*/
/* MARKET START*/

.row {
	display: flex;
	flex-direction: row;
}

.row > .column {
  padding: 0 8px;
}

.row img:hover {
	cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {

  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  float: left;
}

.active,
.demo:hover {
  opacity: 1;
	cursor: pointer;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MARKET END*/
